.md-nav__link {
    white-space: normal;
}

.md-sidebar {
    width: 22rem;
}

@media screen and (min-width: 76.25em) {
  .md-sidebar--primary {
    width: 22rem !important;
  }

  .md-sidebar--primary .md-sidebar__scrollwrap {
    width: 22rem !important;
  }
}