.md-nav__link {
    white-space: normal;
}

.md-sidebar {
    width: 22rem;
}

@media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
        width: 22rem;
    }

    .md-content {
        margin-left: 22rem;
    }
}